button {
    background-color: black;
    color: white;
}

button:hover {
    background-color: #6A7A9E;
}


.file-input {
    display: none;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.file-staging-area {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    width: 40vw;
}

::ng-deep .tags input {
    margin-top: 3vh !important;
}
