<div class="page">

    <p>{{statusMessage}}</p>

    <div class="grid">
        <div *ngFor="let file of files">
            <mat-card>
                <mat-card-header class="locations" >
                    <div class="title">
                        <mat-card-title>{{file.fileName}}</mat-card-title>
                        <button mat-button id="delete-btn" (click)="clickDelete(file)"><mat-icon>delete</mat-icon></button>
                    </div>
                    <div class="locations">
                        <mat-card-subtitle>{{file.dateCreated}}</mat-card-subtitle>
                        <mat-card-subtitle>{{file.fileSize}}</mat-card-subtitle>
                    </div>
                    </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <h3>Details</h3>
                    <p>Created by: {{file.owner}}</p>
                    <p><mat-icon>edit</mat-icon>Last modified: {{file.dateModified}}</p>
                    <p><mat-icon>insert_drive_file</mat-icon>File type: {{file.fileType}}</p>
                    <p><mat-icon>short_text</mat-icon>Description</p>
                    <p>{{file.description}}</p>
                    <div *ngFor="let tag of file.tags">
                        <p>tag</p>
                    </div>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button (click)="clickDownload(file)" >Download</button>
                  </mat-card-actions>
              </mat-card>
        </div>
    </div>

</div>